# **Experiment-4**

### Objective: 
Write a program to print all the bigrams and trigrams from a given corpus and sorting them by frequency.

In [1]:
%pip install nltk pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\mainp\appdata\roaming\python\python313\site-packages (3.9.1)
Requirement already satisfied: pandas in c:\users\mainp\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: click in c:\users\mainp\appdata\roaming\python\python313\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\mainp\appdata\roaming\python\python313\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\mainp\appdata\roaming\python\python313\site-packages (from nltk) (4.67.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\mainp\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\mainp\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

### **Importing Libraries**

In [2]:
import nltk
from nltk import bigrams, trigrams
from nltk.probability import FreqDist
import pandas as pd

# Download necessary NLTK data files
nltk.download("punkt", download_dir="C:/nltk_data")

[nltk_data] Downloading package punkt to C:/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### **Reading Text from a Text File**

In [3]:
def read_text_file(file_path):
    """Read text data from the specified file."""
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    return text

# Specify the file path
file_path = 'input.txt'

# Read the content of input.txt
text = read_text_file(file_path)
print("Content of input.txt:")
print(text)

Content of input.txt:
Microsoft announced a new product launch event in New York City on December 1st, 2024.
Elon Musk, the CEO of Tesla, hinted at a partnership with NASA for a Mars mission.
The GDP of India grew by 7% in the first quarter of 2023, according to a report by Reuters.
Amazon is planning to open a new data center in Dublin, Ireland next year.
Barack Obama gave a keynote speech at Stanford University last Thursday.
Bitcoin reached an all-time high of $68,000 in November 2021.
The Louvre Museum in Paris saw record-breaking attendance last summer.

In [4]:
def read_text_file(file_path):
    """Read text data from the specified file."""
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    return text

# Specify the file path
file_path = 'input.txt'

# Read the content of input.txt
text = read_text_file(file_path)
print("Content of input.txt:")
print(text)

Content of input.txt:
Microsoft announced a new product launch event in New York City on December 1st, 2024.
Elon Musk, the CEO of Tesla, hinted at a partnership with NASA for a Mars mission.
The GDP of India grew by 7% in the first quarter of 2023, according to a report by Reuters.
Amazon is planning to open a new data center in Dublin, Ireland next year.
Barack Obama gave a keynote speech at Stanford University last Thursday.
Bitcoin reached an all-time high of $68,000 in November 2021.
The Louvre Museum in Paris saw record-breaking attendance last summer.

In [5]:
# Tokenize the text into words
tokens = nltk.word_tokenize(text.lower())
print("Tokens:", tokens)

Tokens: ['microsoft', 'announced', 'a', 'new', 'product', 'launch', 'event', 'in', 'new', 'york', 'city', 'on', 'december', '1st', ',', '2024.', 'elon', 'musk', ',', 'the', 'ceo', 'of', 'tesla', ',', 'hinted', 'at', 'a', 'partnership', 'with', 'nasa', 'for', 'a', 'mars', 'mission', '.', 'the', 'gdp', 'of', 'india', 'grew', 'by', '7', '%', 'in', 'the', 'first', 'quarter', 'of', '2023', ',', 'according', 'to', 'a', 'report', 'by', 'reuters', '.', 'amazon', 'is', 'planning', 'to', 'open', 'a', 'new', 'data', 'center', 'in', 'dublin', ',', 'ireland', 'next', 'year', '.', 'barack', 'obama', 'gave', 'a', 'keynote', 'speech', 'at', 'stanford', 'university', 'last', 'thursday', '.', 'bitcoin', 'reached', 'an', 'all-time', 'high', 'of', '$', '68,000', 'in', 'november', '2021.', 'the', 'louvre', 'museum', 'in', 'paris', 'saw', 'record-breaking', 'attendance', 'last', 'summer', '.']

In [6]:
# Generate bigrams and trigrams
bigrams_list = list(bigrams(tokens))
trigrams_list = list(trigrams(tokens))

print("\nSample Bigrams:", bigrams_list[:5])
print("Sample Trigrams:", trigrams_list[:5])

Sample Bigrams: [('microsoft', 'announced'), ('announced', 'a'), ('a', 'new'), ('new', 'product'), ('product', 'launch')]
Sample Trigrams: [('microsoft', 'announced', 'a'), ('announced', 'a', 'new'), ('a', 'new', 'product'), ('new', 'product', 'launch'), ('product', 'launch', 'event')]

In [7]:
# Calculate frequency distribution of bigrams and trigrams
bigram_freq = FreqDist(bigrams_list)
trigram_freq = FreqDist(trigrams_list)

# Convert frequency distributions to DataFrames
df_bigrams = pd.DataFrame(bigram_freq.items(), columns=["Bigram", "Frequency"]).sort_values(by="Frequency", ascending=False)
df_trigrams = pd.DataFrame(trigram_freq.items(), columns=["Trigram", "Frequency"]).sort_values(by="Frequency", ascending=False)

In [8]:
print("\nTop 10 Bigrams by Frequency:")
df_bigrams.head(10)

Top 10 Bigrams by Frequency:

                   Bigram  Frequency
2                (a, new)          2
0  (microsoft, announced)          1
1          (announced, a)          1
3          (new, product)          1
4       (product, launch)          1
5         (launch, event)          1
6             (event, in)          1
7               (in, new)          1
8             (new, york)          1
9            (york, city)          1

In [9]:
print("\nTop 10 Trigrams by Frequency:")
df_trigrams.head(10)

Top 10 Trigrams by Frequency:

                     Trigram  Frequency
0  (microsoft, announced, a)          1
1        (announced, a, new)          1
2          (a, new, product)          1
3     (new, product, launch)          1
4   (product, launch, event)          1
5        (launch, event, in)          1
6           (event, in, new)          1
7            (in, new, york)          1
8          (new, york, city)          1
9           (york, city, on)          1